<section>
  <p>Configure a Git Server:</p>
    <%= form_tag(new_server_path, class: :server_entry) do %>
        <%= label_tag(:protocol) %>
        <%= select_tag :protocol, options_for_select(protocols.map {|name| [name,name]}), class: 'protocol' %>
        <%= label_tag(:name) %>
        <%= text_field_tag(:name, nil, class: 'server_name') %>
        <%= label_tag(:server_user) %>
        <%= text_field_tag(:server_user) %>
        <%= password_field(:post, :password_digest) %>
        <%= text_field_tag(:password_digest) %>
        <%= label_tag(:local_dir) %>
        <%= text_field_tag(:local_dir) %>
        <%= submit_tag('Add') %>
    <% end %>
    <p class='server_connection_string'></p>
</section>