<article>
  <%=  form_for repo, as: :post, url: edit_repo_path(repo.id) do  |f| %>
      <%=  f.label :name %>
      <%= f.text_field :name %>
      <%=  f.label :relative_remote_url %>
      <%= f.text_field :relative_remote_url%>
      <%= f.hidden_field :git_server_id %>
      <%= f.submit 'Save' %>
  <% end %>
        <span class='server_connection_string'></span>
</article>
